# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.env.*

# -----------------------------
# Base de datos
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Archivos del sistema
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDEs / editores
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Archivos temporales
# -----------------------------
*.tmp
*.swp